.menu{
    height:50px;
    width:50px;
    display:flex;
    align-items: center;
    justify-content: center;
    position: relative;
    cursor: pointer;
    z-index:100;
}
.bar,.bar::before,.bar::after{
    width:90%;
    height:5px;
    background-color: #fff;
    border-radius: 5px;
    position:absolute;
    content:"";
    transition: all 0.4s ease-in;

}



.bar::before{
    top:-10px;
    width:100%;

}
.bar::after{
top:10px;
    width:100%;

}



.rotate ::before,
.rotate ::after {
    top: 0;
    transform: rotate(90deg);
}


